# Please note that the wallet mnemonic should not have commas and just spaces between words
WALLET_MNEMONIC=please add the wallet mnemonic here like this

ALGOD_SERVER=https://node.testnet.algoexplorerapi.io
ALGOD_PORT=
ALGOD_TOKEN=

INDEXER_SERVER=https://replace-with-your-indexer-servrer
INDEXER_PORT=
INDEXER_TOKEN=

ENVIRONMENT=testnet
USE_TINYMAN=false # Set to true for Mainnet

LADDER_TIERS=3 # Number of orders to place on either side of the spread
SPREAD_PERCENTAGE=0.0025 # Distance between each order. Lower gets more rewards
ORDER_ALGO_DEPTH=3 # Order depth in algos. I.e. each order will be worth X algos
 
# Testnet app IDs
ALGODEX_ALGO_ESCROW_APP=22045503
ALGODEX_ASA_ESCROW_APP=22045522
 
# For Mainnet, use the following app IDs:
# ALGODEX_ALGO_ESCROW_APP=354073718
# ALGODEX_ASA_ESCROW_APP=354073834

# POUCHDB_URL=http://admin:mypass@127.0.0.1:5984
# Note: POUCHDB_URL is not necessary to set as it will use your local disk instead
